.main-content {
    padding: 20 40 40 40;
}

.home_title {
    background-image: url("res://./app/assets/images/home-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drawer-content {
    background-color: #0099BB;
}

.action-label {
    horizontal-align: center;
    padding-right: 40;
}
